@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    letter-spacing: 1px;
}

.header__top {
    height: 50px;
    background-color: #434a54;
}

.header__top--item.header__top--avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a515b;
    padding: 0 20px;
    height: 50px;
}

.header__top--avatar .content {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.header__top--avatar .content a:first-child {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.header__top--avatar .content a:last-child {
    color: #fff;
    font-size: 10px;
    text-decoration: none;
}

.header__display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}

.header__top--list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__top--item {
    margin-right: 20px;
}

.header__top--item:last-child {
    margin-right: 0;
}

.header__top--item.mail {
    margin-right: 20px;
    position: relative;
}

.header__top--item.mail .count {
    position: absolute;
    top: -8px;
    left: 14px;
    font-size: 10px;
    color: #fff;
    padding: 0 2px 1px 3px;
    border-radius: 2px;
    background-color: var(--green-color);
}

.header__top--item.mail i {
    margin-right: 0;
    font-size: 20px;
}

.header__top--link .avatar {
    width: 30px;
    height: 30px;
}

.header__top--link .avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header__top--link {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__top--link i {
    font-size: 15px;
    margin-right: 10px;
}

.header__top--link span {
    font-size: 13px;
}

.header__bottom {
    height: 80px;
    background-color: #fff;
}

.header__bottom::before {
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
}

.header__bottom::after {
    content: "";
    display: block;
    clear: both;
}

.header__bottom--logo {
    text-decoration: none;
    height: 21px;
    width: 136px;
}

.header__bottom--logo img {
    width: 100%;
    height: 100%;
}

.header__bottom--list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__bottom--item {
    position: relative;
    margin: 0 22px;
    padding: 5px 0;
}

.header__bottom--item::after {
    position: absolute;
    display: block;
    content: "";
    height: 14px;
    border-left: 2px solid #f1f1f1;
    top: 50%;
    right: -22px;
    transform: translateY(-50%);
}

.header__bottom--item:last-child {
    margin-right: 0;
}

.header__bottom--item:last-child::after {
    display: none;
}

.header__bottom--link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    line-height: 16px;
}

.header__bottom--item:hover .header__bottom--subnav {
    display: block;
}

.header__bottom--subnav {
    position: absolute;
    top: 49px;
    left: -16px;
    list-style: none;
    background-color: #fff;
    width: 190px;
    box-shadow: 0 2px 5px #f1f1f1;
    display: none;
    z-index: 999;
}

.header__bottom--subnav:before {
    position: absolute;
    content: "";
    display: block;
    height: 30px;
    width: 100%;
    top: -30px;
    left: 0;
}

.header__bottom--subnav li {
    border-bottom: 1px solid #f1f1f1;
}

.header__bottom--subnav li:first-child {
    border-top: 1px solid #f1f1f1;
}

.header__bottom--subnav li:hover>a {
    background-color: #f9f9f9;
}

.header__bottom--subnav li a {
    text-decoration: none;
    padding: 15px 20px;
    font-size: 14px;
    color: var(--text-color);
    display: block;
    width: 100%;
}

.header__bottom--subnav .subnav__item--display {
    position: relative;
}

.header__bottom--subnav .subnav__item--display a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bottom--subnav .subnav__item--display a i {
    font-size: 18px;
}

.header__bottom--item .header__bottom--subnav .header__bottom--subnav-two {
    width: 190px;
    background-color: #fff;
    list-style: none;
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    box-shadow: 0 2px 5px #f1f1f1;
    display: none;
    z-index: 999;
}

.header__bottom--subnav .subnav__item--display:hover .header__bottom--subnav-two {
    display: block;
}

.header__bottom--item .header__bottom--subnav .header__bottom--subnav-two::before {
    display: block;
    content: "";
    height: 50px;
    width: 20px;
    position: absolute;
    top: 0;
    left: -20px;
}

.header__bottom--item .header__bottom--subnav .header__bottom--subnav-two li a {
    display: block;
}

.slider {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.slider img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    animation: slider 7s linear both;
}

@keyframes slider {
    0% {
        transform: scale(1);
        transform-origin: 50% 16%;
    }
    100% {
        transform: scale(1.1);
        transform-origin: top;
    }
}

.promotion {
    margin-top: 65px;
}

.promotion__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promotion__heading {
    font-size: 30px;
    color: var(--text-color);
    margin-bottom: 8px;
}

.promotion__desc {
    color: #a4a4b5;
    font-size: 20px;
}

.promotion__header .line {
    margin-top: 20px;
    display: block;
    height: 4px;
    width: 80px;
    background-color: #f1f1f1;
}

.promotion-item {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #f1f1f1;
    position: relative;
    overflow: hidden;
}

.promotion-item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
    outline: none;
    display: block;
}

.promotion-item .content a {
    text-decoration: none;
    color: #fff;
}

.promotion-item .content .country {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    background-color: #434a54;
}

.promotion-item .content .continent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotion-item .content .continent a {
    font-size: 14px;
    display: block;
    width: 50%;
    padding: 5px 20px;
}

.promotion-item .content .continent .count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promotion-item .content .continent .count span {
    padding: 0px 8px;
    background-color: #f3a46b;
    position: relative;
}

.promotion-item .content .continent .count span .featured__list {
    position: absolute;
    top: 30px;
    left: -4px;
    width: 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px #f1f1f1;
    display: none;
}

.promotion-item .content .continent .count span .featured__list::before {
    position: absolute;
    content: "";
    display: block;
    top: -24px;
    left: 13px;
    border-style: solid;
    border-width: 12px;
    border-color: transparent transparent #fff transparent;
}

.promotion-item .content .continent .count span:hover .featured__list {
    display: block;
}

.featured__list div {
    color: #a4a4b5;
    font-size: 11px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.promotion-item .content .continent.purple a,
.package__list .package__item .actions.purple {
    background-color: #ba71da;
}

.promotion-item .content .continent.purple a:last-child {
    background-color: #c17fde;
}

.promotion-item .content .continent.blue a,
.counter__up--item.blue a {
    background-color: #14b9d5 !important;
}

.promotion-item .content .continent.blue a:last-child {
    background-color: #2cc0d9;
}

.promotion-item .content .continent.orange a,
.package__list .package__item .actions.orange {
    background-color: #f3a46b;
}

.promotion-item .content .continent.orange a:last-child {
    background-color: #f4ad7a;
}

.promotion-item .content .continent.red a,
.counter__up--item.red a,
.package__list .package__item .actions.red {
    background-color: #f76570 !important;
}

.promotion-item .content .continent.red a:last-child {
    background-color: #f8757f;
}

.promotion-item .content .continent.green a,
.counter__up--item.green a {
    background-color: #1bbc9b !important;
}

.promotion-item .content .continent.green a:last-child {
    background-color: #32c3a5;
}

.promotion-item .content .continent.yellow a,
.counter__up--item.yellow a {
    background-color: #ffd205 !important;
}

.promotion-item .content .continent.yellow a:last-child {
    background-color: #ffd71e;
}

.promotion-item .description {
    padding: 20px;
}

.promotion-item .description span {
    display: block;
    font-size: 14px;
    color: #A4A4A4;
}

.promotion-item .description button {
    font-size: 14px;
    color: #A4A4A4;
    padding: 10px 20px;
    border: 1px solid #f1f1f1;
    margin-top: 20px;
    background-color: #fff;
    cursor: pointer;
}

.promotion-item .price {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 15px 20px;
    font-size: 14px;
    text-decoration: none;
    color: #A4A4A4;
}

.promotion-item .price span {
    text-decoration: line-through;
}

.promotion-item .sale {
    position: absolute;
    background-color: #434a54;
    font-size: 14px;
    top: 0;
    right: 0;
    text-decoration: none;
    color: #fff;
    padding: 3px 51px;
    transform: rotate(45deg) translate(38px, -14px);
}

.promotion .active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion__action {
    color: #fff;
    background-color: #434a54;
    font-size: 14px;
    padding: 15px 20px;
    text-decoration: none;
    outline: none;
    border: none;
    margin: 45px 15px 0 15px;
}

.summer {
    margin-top: 65px;
    height: 412px;
    width: 100%;
    background-image: url(../image/backgr__summer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summer .overlay,
.counter__up .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.281);
    pointer-events: none;
}

.summer .content {
    z-index: 2;
    color: #fff;
    text-align: center;
}

.summer .content h3,
.summer .content p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}

.summer .content h1 {
    font-weight: 500;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 7px;
}

.summer .content a,
.counter__up .counter__up--list .counter__up--item a {
    display: inline-block;
    border: none;
    outline: none;
    appearance: none;
    color: #fff;
    background-color: #14b9d5;
    text-decoration: none;
    user-select: none;
    font-size: 16px;
    padding: 8px 20px;
    margin-top: 10px;
}

.summer .content .line {
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background-color: #fff;
}

.destination {
    margin-top: 65px;
}

.destination__item {
    margin-top: 30px;
    width: 100%;
    position: relative;
    border: 1px solid #f1f1f1;
}

.destination__item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
}

.destination__item a {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #14b9d5;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #fff;
}

.counter__up {
    margin-top: 65px;
    height: 280px;
    width: 100%;
    background-image: url(../image/backgr__counter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 16%;
    background-attachment: scroll;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter__up--list {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.counter__up--item {
    margin: 0 15px;
    min-width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter__up--item span {
    color: #fff;
    font-size: 45px;
}

.counter__up--item a {
    font-size: 15px !important;
    margin-top: 5px !important;
    padding: 5px 10px !important;
}

.package__form {
    margin-top: 30px;
}

.package__form .form__btn {
    border: none;
    outline: none;
    appearance: none;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #1bbc9b;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.package__form .form__btn:first-child {
    margin-right: -5px;
}

.package__form .form__btn i {
    margin-right: 10px;
    font-size: 12px;
}

.package__form .form__btn.active {
    background-color: #434a54;
    cursor: default;
}

.package__form .form__btn.request.active~#form__package .form,
.package__form .form__btn.contact-form.active~#form__package .contact {
    display: block;
}

#form__package {
    background-color: #434a54;
    padding: 25px;
    transition: all 0.3s ease-in-out;
    height: auto;
}

#form__package textarea {
    height: 150px;
}

#form__package select {
    cursor: pointer;
    appearance: none;
}

.form-control,
.footer__item .action form .form-control {
    color: #a3a3a3;
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    background-color: #4a515b;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.form-control::placeholder {
    color: #a3a3a3;
}

.form-submit,
.footer__item .action form .form-submit {
    background-color: #1bbc9b;
    width: 100%;
    font-size: 16px;
    color: #fff;
    padding: 15px;
    border: none;
    outline: none;
    user-select: none;
    appearance: none;
    margin-bottom: 10px;
    cursor: pointer;
}

#form__package .contact,
#form__package .form {
    display: none;
}

#form__package .contact h3 {
    text-align: center;
    color: #fff;
    font-size: 27px;
    font-weight: 500;
}

.package__item {
    width: 100%;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
}

.package__item img {
    width: 100%;
    height: 100%;
}

.package__item a {
    text-decoration: none;
}

.package__item .content {
    width: 100%;
}

.package__item .actions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.package__item .actions a.price {
    color: #fff;
    font-size: 30px;
}

.package__item .actions a.detail {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.package__item .content a {
    display: block;
    border-bottom: 1px solid #f1f1f1;
    color: #a4a4a4;
    background-color: #f9f9f9;
    font-size: 17px;
    padding: 20px;
}

.package__item .content p {
    color: #a4a4a4;
    font-size: 14px;
    line-height: 25px;
    padding: 20px 20px 40px 20px;
}

#footer {
    margin-top: 65px;
    width: 100%;
}

.footer__top {
    width: 100%;
    background-color: #434a54;
}

.footer__list {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__item {
    padding-top: 15px;
}

.footer__item .content {
    margin-bottom: 20px;
}

.footer__item .content h4 {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.footer__item .content p {
    color: #a3a3a4;
    font-size: 12px;
    margin-top: 5px;
}

.footer__item .action p {
    font-size: 20px;
    color: #fff;
}

.footer__item .action a i {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    margin-right: 15px;
}

.footer__item .action form .form-control {
    font-size: 15px;
    width: 60%;
    margin-bottom: 0;
}

.footer__item .action form .form__group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__item .action form .form-submit {
    width: 40%;
    font-size: 12px;
    margin-bottom: 0;
    padding: 12px 20px;
}

.footer__bottom {
    padding: 10px 0;
    width: 100%;
    background-color: #fff;
}

.footer__bottom p {
    font-size: 14px;
    color: #a3a3a4;
}

.footer__bottom .text-right {
    text-align: right;
}

.footer__bottom .text-left {
    text-align: left;
}